*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-direction: column;
  }
  ::placeholder {
    color: #d9d9d9;
    font-size: 1em;
  }
  .container-m1{
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    margin: auto;
    margin-top: 30px;
  }
  .container-m1 .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
  }
  .container-m1 .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #36846b, #e91e63);
  }
  .content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  .search-products{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
 
  form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
    
  }
  form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  .user-details-search .input-box-search input{
    height: 45px;
    width: 180%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  .user-details .input-box input:focus,
  .user-details .input-box input:valid{
    border-color: #36846b;
  }
   form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
   }
   form .category{
     display: flex;
     width: 80%;
     margin: 14px 0 ;
     justify-content: space-between;
   }
   form .category label{
     display: flex;
     align-items: center;
     cursor: pointer;
   }
   form .category label .dot{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
  }
   #dot-1:checked ~ .category label .one,
   #dot-2:checked ~ .category label .two,
   #dot-3:checked ~ .category label .three{
     background: #e91e63;
     border-color: #d9d9d9;
   }
   form input[type="radio"]{
     display: none;
   }
   form .button-search{
    height: 45px;
    margin: 20px 0
  }
   form .button{
     height: 45px;
     margin: 20px 0
   }

   form .button-search input{
    height: 100%;
    width: 200%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #36846b; }
   
   form .button input{
     height: 100%;
     width: 100%;
     border-radius: 5px;
     border: none;
     color: #fff;
     font-size: 18px;
     font-weight: 500;
     letter-spacing: 1px;
     cursor: pointer;
     transition: all 0.3s ease;
     background-color: #36846b; }

     form .button-delete input{
        height: 2.5em;
        width: 100%;
        border-radius: 5px;
        border: none;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        cursor: pointer;
        transition: all 0.3s ease;
        background-color: #e91e63; }

   form .button input:hover{
    background-color: #36846b;  }

    form .button-search input:hover{
    background-color: #36846b;  }

   
  .box-image{
    max-width: 100%;
      height: 240px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      background: #aaa;
  }
  .upload-icon{
    background-color: #36846b;  
      width: 55px;
      height: 55px;
      border-radius: 50%;
      text-align: center;
      padding-top: 15px;
      font-size: 22px;
  }
  
  .form-control{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  
  }
  
  #category{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  
  .footer{
    width: 100%;
    margin-top: 40px;
  }

  .imagenXD{
    position: absolute;
  }
  
  
   @media(max-width: 584px){
   .container-m1{
    max-width: 100%;
  }
  form .user-details .input-box{
      margin-bottom: 15px;
      width: 100%;
    }
    form .category{
      width: 100%;
    }
    .content form .user-details{
      max-height: 300px;
      overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
      width: 5px;
    }
    .search-products{
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }
    .user-details-search{
        width: 50%;
    }
    }
    
  