/*     Header     */



.h1{
    color: black;
}

.input{
    border-radius: 5px;
}


.user{
    color: #36846b;
}

.bruce-banner{
    display:flex;
    align-items: center;
    justify-content: center;
}

.category{
    display:flex;
    justify-content: center;
    align-items: center;
}

.category-text{
    text-align: center;
}

.suculentas{
    width: 400px;
    clip-path: circle();
    margin: auto;
}

.sucu-text{
    text-align: center;
}

.catuses{
    width: 400px;
    clip-path: circle();
    margin: auto;
}

.articul-box{
    display:flex;
    justify-content: center;
    margin: 20px;
    padding: 5px;
}

.articul{
    width: 400px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #a07d5d;
    margin: 15px;
}

.ofertas{
    display: flex;
    justify-content: center;
    font-size: 50px;
}


