/*     Header     */

.boddy{
    background-color: #ede4d6;
}

.h1{
    color: black;
}

.input{
    border-radius: 5px;
}


.user{
    color: #36846b;
}


.category{
    width: 400px;
    clip-path: circle();
    margin: auto;
}

.articul{
    width: 400px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #13231d;
    margin: auto;
}
