*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../img/Logo1.png");
    background-size: 50%;
}

/* Se agregó esto de abajo para que quede bien el footer */
/* Despues borralo para que veas como quedaba antes */

main {
    height: 620px;
    padding-top: 80px;
}


.formulario{
    background-color: #36846bf6;
    width: 60%;
    margin: auto;
}

form{
  margin: auto;
  max-width: 450px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(241, 247, 252);
}

form h3{
    margin: 40px;
    justify-content: center;
    align-items: center;
}

.usuario, .contraseña {
    width: 90%;
    max-width: 250px;
    margin: 10px;
    margin-bottom: 20px;
    
}

form input{
    width: 90%;
    border: none;
    margin: 10px;
    height: 30px;
}


/* Te modiqué el codigo de abajo para arreglar el header, antes lo tenias solo con " a { " */

div h6 a{
    color: rgb(19, 17, 17);
    margin: 10px;
    
}

button{
    border-radius: 30%;
    padding: 20px;
    margin: 30px;
    border: none;
    background-color: rgb(145, 38, 11);
    color: white;
    cursor: pointer;
}

.registrado{
    padding: 20px;
}

.registrado p{
    display: inline-block;
    color: rgb(238, 230, 230);
    
}
.registrado input{
    margin-left: 20px;
}

@media (min-width: 400px){
    label, button, h3{
        font-size: 28px;
    }
    
}
