
main {
    padding: 20px;
}

.formulario{
    width: 360px;
    height: 500px;
    max-width: 100%;
    text-align: center;
    margin:auto;
    padding-top:70px;
}

.formulario form p {
    padding:7px 0;
    font-size: 18px;
    display:block;
    color: gray;
    max-width: 100%;
}

.correo {
    margin-left: -45px;
    max-width: 100%;
}

.contraseña {
    margin-left:-75px;
    max-width: 100%;
}

.formulario label input {
    padding:10px;
    border:2px solid black;
    max-width: 100%;
    width: 250px;
}

.registrarseLogin {
    padding: 5px 0;
    max-width: 100%;
}



/* Boton login */
.boton-logear{
    padding:10px;
    border-radius:7px;
    background-color: green;
    font-size:18px;
    width: 250px;
    max-width: 100%;
    margin-top: 30px;
}

.boton-logear a {
    text-decoration: none;
    color: white;
}

.boton-logear:hover{
    background-color: rgb(136, 202, 38);
}
.boton-logear:hover a{
    color: black;
    font-weight: bold;
}
/* Boton login */

.registrarseLogin h5,
.registrarseLogin a{
    font-size: 13px;
    padding:20px 0;
}

.mantenerSesion{
    padding: 20px;
    max-width: 100%;
}

.mantenerSesion p{
    display: inline-block;
    color: rgb(0, 0, 0);
    
}
.mantenerSesion input{
    margin-left: 20px;
}


@media(min-width:769px){
    .boton-logear{
        width: 350px;
    }

    .formulario label input {
        width: 350px;
    }

    .correo {
        margin-left: -95px;
    }
    
    .contraseña {
        margin-left:-124px;
    }

}
