*{
    box-sizing: border-box;
    margin:0;
	padding:0;
    
}

body{
    font-family: 'Open Sans', sans-serif;    
    
}

main h3{
    margin: 20px;
}


.section-product{
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    padding-top: 20px;
    
    
}

.box-image{
    width: 16.6666666667%;
}
.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 3px;
}

.details{
    position: relative;    
    line-height: 1;
    display: flex;
    align-self: start;
}

.delete-item{
    align-items: center;
    display: flex;
    padding: 20px;
    color: #000000;
}


.compra-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;


}
.cantidad{
    display: none;
}

.form-select{
    width: 90px;
    height: 30px;
    text-align: center;
    border: 1px solid #ebebeb;
}
.resume{
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 0;
    
}

.table{
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}


.resume-container{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.text-left{
    text-align: right;

}

.text-right{
    text-align: end;
}

.send-green{
    color: green;

}

table tbody tr td{
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.pay{
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 3px;
    color: #fff;
    background-color: #1E1B17;
    border-color: #100e0c;
    width: 100%;
    
}


main p{
    margin: 20px;
    text-align: start;
}
.input-group{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-top: 10px;
    margin: auto;
}
.bottom-home{
    font-size: 14px;
    text-decoration: none;
    color: #000000;
    position: relative;
       
    
}

.section-footer-suscribe{
    background-color: #ebebeb;
    padding: 20px;
}
.container-sub {
    text-align: center;
    
}

.container-sub h4{
    padding: 20px;
    font-weight: bold;
    font-size: 1.5em;
}
.container-sub p{
    font-weight: lighter;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
}
.newsletter-form{
    display: flex;
    justify-content: center;
    
}

.input-group-sub{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.form-control{
    background-color: #FFFFFF;
    border: 1px solid #1E1B17;
    color: #333333;
    height: 40px;
    width: 80%;
    text-align: center;
}


.btn-default{
    border: 1px solid #1E1B17;
    color: #333333;
    height: 40px;
    width: 85px;
    background-color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
}
/* SECTION FOOTER */
.container{
	margin:auto;
    padding: 3%;
    background-image: url("/images/Imagen-footer.jpeg");
    background-position: -150px;
    height: 320px;
}

.row{
	display: flex;
	flex-wrap: wrap;
    max-width: 992px;
    margin: auto;
    
}
ul{
	list-style: none;
}

.footer-col{
   width: auto;
   padding: 0 15px;
   margin: 0 auto;
}
.footer-col p{
    color: #ebebeb;
    margin-bottom: 10px;
 }
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	color: #ebebeb;
	text-decoration: none;
	font-weight: 300;
	color: #ebebeb;
	display: block;
	transition: all 0.3s ease;
    
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
	color: #000000;
	background-color: #ffffff;
}

.text-center-xs{
    text-align: center;
    background-color: #fff;
    padding: 3px;
    color: #a39d9d;
    font: 100;
    
}

@media(max-width: 767px){
    .footer-col{
      width: 100%;
      margin-bottom: 30px;
      justify-content: space-between;
  }
  }
 
  
/* SECTION FOOTER */






@media (min-width: 992px) {
    .section-product-desktop{
        display: flex;
        max-width: 992px;
        margin: auto;

    }

    .items{
        max-width: 992px;
        margin: auto;
    }
    .compra-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-self: baseline;
        width: 65%;
        border-bottom: 1px solid #DDD;
    }
    .img-responsive{ 
    display: block;
    max-width: 150%;
    height: auto;
    border-radius: 3px;
}
    .resume{
        width: 100%;
    }

    .bottom-home{
        display: block;
        max-width: 992px;
        margin: auto;
    }
    .section-product{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
     
    }
    .section-product{
        display: block;
    }

    .input-group-sub{
        width: 60%;
    }
    
}

