*{
    box-sizing: border-box;
    
}

body{
    font-family: 'Roboto', sans-serif;
}

main h3{
    margin: 20px;
}


.section-product{
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.box-image{
    width: 16.6666666667%;
}
.img-responsive{
    display: block;
    width: 180px;
    border-radius: 3px;
}

.details{
    position: relative;    
    line-height: 1;
}


.compra-container{
    display: flex;
    margin: 20px;
    justify-content: space-between;
    align-items: center;


}
.cantidad{
    display: none;
}

.form-select{
    width: 90px;
    height: 30px;
    text-align: center;
    border: 1px solid #ebebeb;
}
.resume{
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 0;
    
}

.table{
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.resume-container{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.text-left{
    text-align: right;

}

.text-right{
    text-align: end;
}

.send-green{
    color: green;

}

table tbody tr td{
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.pay{
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 3px;
    color: #fff;
    background-color: #1E1B17;
    border-color: #100e0c;
    width: 100%;
    
}


main p{
    margin: 20px;
    text-align: start;
}

.bottom-home{
    font-size: 14px;
    text-decoration: none;
    color: #000000;
    position: relative;
       
    
}

.section-footer-suscribe{
    background-color: #ebebeb;
    padding: 20px;
}
.container-sub {
    text-align: center;
    
}

.container-sub h4{
    padding: 20px;
    font-weight: bold;
    font-size: 1.5em;
}
.container-sub p{
    font-weight: lighter;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.newsletter-form{
    display: flex;
    justify-content: center;
    
}

.input-group{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.form-control{
    background-color: #FFFFFF;
    border: 1px solid #1E1B17;
    color: #333333;
    height: 40px;
    width: 80%;
    text-align: center;
}


.btn-default{
    border: 1px solid #1E1B17;
    color: #333333;
    height: 40px;
    width: 80px;
    background-color: #FFFFFF;
}




@media (min-width: 1024px){

    .section-product{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
    }
    
}

