* {
    font-family: roboto;
}

.caja-registro {
    width: 360px;
    height: 930px;
    max-width: 100%;
    text-align: center;
    margin:auto;
}

.caja-registro input {
    padding:7px;
    border: 1px solid black;
}

.caja-registro label p {
    padding:10px;
    color:gray
}




.namef {
    display: flex;
    justify-content: space-between;
    padding:0 15px;
}

.namef p {
    text-align: left;
}

.datosf {
    text-align: left;
    align-items: left;
    padding-left: 15px;
}

.datosf input {
    width: 305px;
    border-radius: 8px;
    padding:10px;
    max-width: 100%;
}

.namef input {
    width: 140px;
    border-radius: 8px;
    padding:10px;
    max-width: 100%;
}

.datosf select {
    width: 325px;
    padding:10px;
    border: 1px solid black;
    border-radius: 8px;
    max-width: 100%;
}

.boton-crear{
    padding:10px;
    border-radius:7px;
    background-color: green;
    color:white;
    font-size:18px;
    width: 280px;
    max-width: 100%;
}

.google {
    background-color: coral;
    color: white;
    width: 280px;
    padding:7px
}

.facebook {
    background-color: rgb(113, 113, 246);
    color: white;
    width: 280px;
    margin:5px auto;
    padding:7px;
}

button .google,
button .facebook{
    display: flex;
    flex-direction: row;

}

div button p {
    padding-right: 40px;
}

 button i {
    font-size: 20px;
    padding-right: 25px;
}

.terminosycondiciones {
    text-align: left;
}

@media (min-width:761px){
    .caja-registro {
        width: 600px;
        height: 910px;
    }
    .namef input {
        width: 260px;
    }

    .datosf input {
        width: 545px;
    }

    .datosf select {
        width:566px
    }

    .boton-crear{
        width: 565px;
    }

    .google:hover {
        background-color: rgb(255, 81, 0)
    }

    .facebook:hover {
        background-color: rgb(0, 0, 255);
    }

    .boton-crear:hover {
        background-color: greenyellow;
        color:black;
        font-weight: bold;
    }
}

@media (min-width:1200px) {
    .caja-registro {
        width: 800px;
    }
    .namef input {
        width: 350px;
    }

    .datosf input {
        width: 750px;
    }

    .datosf select {
        width:770px
    }
    .boton-crear {
        width: 565px;
    }
}

