a {
    text-decoration: none;
    color:blue
}

.caja-registro {
    width: 360px;
    height: 1300px;
    max-width: 100%;
    text-align: center;
    margin:auto;
    position: relative;
}

.caja-registro input {
    padding:7px;
    border: 1px solid black;
}

.caja-registro label p {
    padding:10px;
    color:gray
}

.icono-avatar {
    width: 150px;
    position: relative;
    margin:auto;
}

.icono-camara {
    font-size: 30px;
    padding:15px;
    position: absolute;
    right: 45px;
    top:45px;
    color:white;
    background-color: rgba(0,0,0, 0.7);
    border-radius: 40px;
}



.namef {
    display: flex;
    justify-content: space-between;
    padding:0 15px;
}

.namef p {
    text-align: left;
}

.datosf {
    text-align: left;
    align-items: left;
    padding-left: 15px;
}

.datosf input {
    width: 330px;
    border-radius: 8px;
    padding:10px;
    max-width: 100%;
}

.namef input {
    width: 160px;
    border-radius: 8px;
    padding:10px;
    max-width: 100%;
}

.datosf select {
    width: 330px;
    padding:10px;
    border: 1px solid black;
    border-radius: 8px;
    max-width: 100%;
}

.boton-crear{
    padding:10px;
    border-radius:7px;
    background-color: green;
    font-size:18px;
    width: 280px;
    max-width: 100%;
}

.boton-crear a {
    text-decoration: none;
    color: white;
}



.google {
    background-color: coral;
    color: white;
    width: 280px;
    padding:7px;
    max-width: 100%;
    position:relative;
}

.facebook {
    background-color: rgb(113, 113, 246);
    color: white;
    width: 280px;
    margin:5px auto;
    padding:7px;
    max-width: 100%;
    position:relative;
}

button .google,
button .facebook{
    display: flex;
    flex-direction: row;

}

 button i {
    font-size: 20px;
}

.icono-google {
    position: absolute;
    right:245px;
}

.icono-facebook {
    position:absolute;
    right:250px
}

.terminosycondiciones {
    position: relative;
    left:10px;  
}

.terminosycondiciones input {
    position:relative;
    right:270px;
    margin:10px 0;
}

.text-danger {
    color:brown;
    text-align: left;
    font-size: 15px;
    padding-left: 5px;
}

.text-danger-terminos {
    font-size: 15px;
    color: brown;
} 




@media (min-width:761px){
    .caja-registro {
        width: 600px;
        height: 1150px;
    }
    .text-danger-terminos {
        font-size: 15px;
        color: brown;
        margin-left: 95px;
    } 
    
    .namef input {
        width: 275px;
    }

    .datosf input {
        width: 570px;
    }

    .datosf select {
        width:570px
    }

    .boton-crear{
        width: 565px;
    }

    .google:hover {
        background-color: rgb(255, 81, 0)
    }

    .facebook:hover {
        background-color: rgb(0, 0, 255);
    }

    .boton-crear:hover{
        background-color: rgb(136, 202, 38);
    }
    .boton-crear:hover a{
        color: black;
        font-weight: bold;
    }

    .terminosycondiciones {
        left:-130px
    }
}

@media (min-width:1200px) {
    .caja-registro {
        width: 800px;
    }
    .namef input {
        width: 375px;
    }

    .datosf input {
        width: 770px;
    }

    .datosf select {
        width:770px
    }
    .boton-crear {
        width: 770px;
    }

    .terminosycondiciones {
        left:-230px
    }
}

