* {
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family: Roboto, sans-serif
}

.color-borde {
    background-color: red;
    height: 130px;
    max-width: 100%;
}


main {
  height: 620px;
  /* background-image: url("https://img3.wallspic.com/previews/3/0/9/9/3/139903/139903-flor_blanca_y_marron_en_fotografia_de_cerca-x750.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center; */
}

footer {
    background-color: red;
    height: 200px;
    max-width: 100%;
}

.caja-registro {
    background-image: url("https://thumbs.dreamstime.com/b/fondo-del-mármol-sutil-rosado-y-blanco-bonito-de-la-textura-108832280.jpg");
    background-repeat:no-repeat;
    background-position: center center;
    background-color: transparent;
    max-width: 100%;
    width: 250px;
    height: 440px;
    margin:auto;
    justify-content:center;
    bottom: 100px;
    border: solid 2px black;
    box-shadow: 0px 0px 20px rgb(100, 100, 100);
    top: 80px;
    position: relative;
}

.texto-crear {
    font-weight:bold;
    text-align: center;
    font-size:22px;
    padding-top: 15px;
}

#icono-avatar {
    font-size: 60px;
    justify-content: center;
    display:flex;
    padding-top: 20px;
}

#icono-mas {
    font-size: 20px;
    position:relative;
    left: 110px;
    top: -15px;
    border: solid 2px white;
    border-radius: 50%;
    background-color:rgb(255, 255, 255);
}

.datos-registro {
    font-weight: bold;
    font-size: 14px;
    padding-left: 10px;
    padding-top: 6px;
    /* color:white; */

}

.barras {
    position: relative;
    bottom: 15px;
    width: 225px;
    border: solid 2px black;
    max-width: 100%;
    padding: 10px
}

.terminosYcondiciones {
    font-size: 13px;
}

.cajita-checkbox {
    position: relative;
    right:7px;
}

.renglon-terminos {
    display: flex;
    justify-content: center;
    /* padding-top: 12px; */
}

.boton-crear {
    border: solid 1px black;
    font-weight: bold;
    width: 100px;
    position: relative;
    left:70px;
    top:10px;
    max-width: 100%;
    background-color: rgb(11, 210, 236);
    color: rgb(255, 255, 255);
    padding: 3px;
}

.texto-pregunta {
    font-weight:bold;
    font-size: 15px;
    display: flex;
    justify-content: center;
    position: relative;
    top:18px;
    
}

.boton-iniciar {
    font-weight:bold;
    font-size: 15px;
    display: flex;
    justify-content: center;
    position: relative;
    top:20px;
    max-width: 100%;
}

.espacio {
    display: none;
}


@media (min-width: 481px) {

}

@media (min-width: 769px) {
    .caja-registro {
        width: 325px;
        height: 470px;
    }
    .barras {
        width: 300px;
    }

    .datos-registro {
        font-size: 16px;
    }

    #icono-mas {
        left:148px
    }

    .cajita-checkbox {
        position: relative;
        right:20px;
    }
    
    .terminosYcondiciones {
        font-size:16px;
        right:15px;
        position: relative;
        bottom:3px;
    }
    
    .boton-crear {
        left:95px;
        font-size:19px;
        max-width: 100%;
        width: 130px;
        top:20px;
    }

    .texto-pregunta {
        top:35px;
    }

    .boton-iniciar {
        top:35px;
    }


}

@media (min-width: 1280px) {
    .caja-registro {
        width: 400px;
        height: 525px;
    }
    .barras {
        width:375px;
    }

    #icono-avatar {
        font-size: 80px;
        justify-content: center;
        display:flex;
        padding-top: 20px;
        padding-bottom: -10px;

    }

    main {
        height: 700px;
    }
    
    .boton-crear {
        left:130px;
        font-size:20px;
        max-width: 100%;
        top:-10px
       
    }

    .cajita-checkbox {
        position: relative;
        right:65px;
        bottom:25px;
    }

    .terminosYcondiciones {
        font-size:15px;
        position:relative;
        right:60px;
        bottom:28px;
    }

    .texto-pregunta {
        top:0
    }

    .boton-iniciar {
        top:0
    }



    #icono-mas {
        left:185px
    }

    .espacio {
        display: flex;
    }
}