@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.contenedor {
    margin:50px auto;
    width: 310px;
    height: 585px;
    background-color: white;
    border-radius: 15px;
    padding:25px;
    font-size: 14px;
}

.contenedor h2 {
    font-size: 18px;
}


body {
    background: linear-gradient(135deg, #36846b, #e91e63);
    font-family: "Open Sans", sans-serif;
}

.verificacion {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.verificacion input {
    padding:10px;
    border: 1px solid black;
    box-shadow: 0px 0px 5px rgb(44, 44, 44);
    border-radius: 5px;
    max-width: 100%;
    margin:8px auto;
    width: 255px;
}

a {
    text-decoration: none;
}

.verificacion button {
    width: 255px;
    padding:7px;
    border: 1px solid black;
    box-shadow: 0px 0px 5px rgb(44, 44, 44);
    background: linear-gradient(135deg, #36846b, #e91e63);
    color:white;
    font-size: 18px;
    max-width: 100%;
    margin-top: 10px;
}

.verificacion button:hover {
 background: linear-gradient(-135deg, #36846b, #e91e63);
}

div ul li {
    padding:5px 0;
}

.dudas ul {
    list-style: circle;
}

.dudas {
    position: relative;
    right:25px;
    max-width: 100%;
}

.dudas h4 {
    position: relative;
    right:17px;
    padding-bottom: 5px;
}


@media(min-width:600px){
    .contenedor {
        width: 550px;
        font-size: 16px;
        height: 480px;
    }

    .contenedor h2 {
        font-size: 24px;
    }

    .verificacion button {
        margin-top:7px;
        width: 260px;

    }


    .verificacion input {
        margin-top:7px;
        width: 260px;
    }

    .verificacion a {
        font-size: 16px;
        margin-left: 5px;
    }

    a:hover {
        border-bottom: 1px solid rebeccapurple
    }

}