<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/formProducts.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        src="https://kit.fontawesome.com/4bc2c34221.js" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Roboto:wght@300&family=Shizuru&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/general.css">


    <title>Mundo Suculento</title>

</head>
<header class="header">
    <%- include ("./partials/headder")%>
</header>


<body>
    <div class="container-m1">
        <div class="title">Agregar Producto</div>
        <div class="content">
            <form action="#">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Nombre del producto</span>
                        <input type="text" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Descripcion</span>
                        <textarea class="form-control validate" required></textarea>
                    </div>
                    <div class="input-box">
                        <span class="details">Id</span>
                        <input type="text" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Unidades en stock</span>
                        <input type="text" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Categoria</span>
                        <select class="input-box" id="category">
                            <option selected>Seleccionar categoria</option>
                            <option value="1">Echeveria</option>
                            <option value="2">Sedum</option>
                            <option value="3">Pachyveria</option>
                        </select>
                    </div>
                    <div class="input-box">
                        <span class="details">Otra categoria</span>
                        <select class="input-box" id="category">
                            <option selected>Seleccionar categoria</option>
                            <option value="1">Sale</option>
                            <option value="2">Nuevo ingreso</option>
                            <option value="3">Producto destacado</option>
                        </select>
                    </div>
                    <div class="input-box">
                        <span class="details">Imagen</span>
                        <input id="fileInput" type="file" style="display:none;" />
                        <input type="button" class="" value="SUBIR"
                            onclick="document.getElementById('fileInput').click();" />
                        <div class="box-image">
                            <i class="fa-solid fa-cloud-arrow-up upload-icon"
                                onclick="document.getElementById('fileInput').click();"></i>
                        </div>
                    </div>
                </div>
                <div class="button">
                    <input type="submit" value="Agregar producto">
                </div>
                <div class="button">
                    <input type="submit" value="Cancelar">
                </div>
            </form>
        </div>
    </div>
    <footer class="footer">
        <%- include ("./partials/footer")%>
    </footer>
</body>

</html>