<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/formProducts.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        src="https://kit.fontawesome.com/4bc2c34221.js" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Roboto:wght@300&family=Shizuru&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/general.css">


    <title>Mundo Suculento</title>

</head>
<header class="header">
    <%- include ("./partials/headder")%>
</header>


<body>
    <div class="container-m1">
        <div class="title">Agregar Producto</div>
        <div class="content">
            <form action="/formulario-productos" method="post" enctype="multipart/form-data">
                <div class="user-details">
                    <div class="input-box">
                        <label class="details" name="id">Id</label>
                        <input type="text" name="id" required>
                    </div>
                    <div class="input-box">
                        <label class="details" name="name" >Nombre del producto</label>
                        <input type="text" name="name" required>
                    </div>
                    <div class="input-box">
                        <label class="details" name="description" >Descripcion</label>
                        <textarea class="form-control validate" name="description"  required></textarea>
                    </div>
                    <div class="input-box">
                        <label class="details" name="stock">Unidades en stock</label>
                        <input type="text" name="stock" required>
                    </div>
                    <div class="input-box">
                        <lab class="details" name="price">Precio</label>
                        <input type="text" name="price" required>
                    </div>
                    <div class="input-box">
                        <label class="details" name="discount">Descuento</label>
                        <input type="text" name="discount" required>
                    </div>
                    <div class="input-box">
                        <label class="details" name="gender" >Genero</label>
                        <input type="text" name="gender" required>
                    </div>
                    <div class="input-box">
                        <span class="details" name="category">Categoria</span>
                        <select class="input-box" name="category" id="category">
                            <option selected>Seleccionar categoria</option>
                            <option value="1">Sale</option>
                            <option value="2">Nuevo ingreso</option>
                            <option value="3">Producto destacado</option>
                        </select>
                    </div>
                    <div class="input-box">
                        <label for="image" class="details">Imagen</label>
                        <input type="file" id="image" name="image" multiple />
                    </div>
                </div>
                <div class="button">
                    <input type="submit" value="Agregar producto">
                </div>
                <div class="button">
                    <input type="submit" value="Cancelar">
                </div>
            </form>
        </div>
    </div>
    <footer class="footer">
        <%- include ("./partials/footer")%>
    </footer>
</body>

</html>