<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Mundo Suculento 2.0</title>
    <link rel="icon" href="design/isoto.ico">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/index.css">

</head>

<body class="boddy">

   <header class="header">
      <nav class="nav">
        <img src="images/Artboard 4.png" class="logo">
        <button class="nav-toggle" aria-label="Abrir menú">
          <i class="fas fa-bars"></i>
        </button>
        <ul class="nav-menu">
          <li class="nav-menu-item">
            <a href="/" class="nav-menu-link nav-link">Home</a>
          </li>
          <li class="nav-menu-item">
            <a href="/producto" class="nav-menu-link nav-link">Producto</a>
          </li>
          <li class="nav-menu-item">
            <a href="/registro" class="nav-menu-link nav-link">Crear cuenta</a>
          </li>
          <li class="nav-menu-item">
            <a href="/login" class="nav-menu-link nav-link nav-menu-link_active"
              >Login</a
            >
            <li class="nav-menu-item">
              <a href="/carrito" class="nav-menu-link nav-link">Carrito</a>
            </li>
          </li>
        </ul>
      </nav>
      
    </header>
<div class="main-grid">

   <div class="grid">
      <div class="img-wrapper">
         <img class="blur" src="images/echeveria-rudolf.jpg">
         <div class="content fade">ECHEVERIA</div>
      </div>
   </div>
   <div class="grid">
      <div class="img-wrapper">
         <img class="blur" src="images/graptoveria-wind-of-changes.jpg">
         <div class="content fade">GRAPTOVERIA</div>
      </div>
   </div>
   <div class="grid">
      <div class="img-wrapper">
         <img class="blur" src="images/echeveria-ben-badis.jpg">
         <div class="content fade">ECHEVERIA 2</div>
      </div>
   </div>
   
</div>
         <hr>

      
         <h2 class="ofertas-text">OFERTAS PITUCAS</h2>
      <main>
         <section class="last-visit">
            <div class="products">
               <article>
                  <img src="images/echeveria-ben-badis.jpg"  class="product_img">
                  <div class="main-article">
                     
                     <p class="price"> ₳ 112.000</p>
                     <p class="discount">10% off</p>
                     <h4 class="description">Echeveria: Ben Badis</h4>
                  </div>
               </article>
               <article>
                  <img src="images/echeveria-mexican-giant.jpg" class="product_img">
                  <div class="main-article">
                     
                     <p class="price"> ₳ 230.000</p>
                     <p class="discount">10% off</p>
                     <h4 class="description">Echeveria: Mexican Giant</h4>
                  </div>
               </article>
               <article>
                  <img src="images/echeveria-rudolf.jpg"  class="product_img">
                  <div class="main-article">
                     
                     <p class="price">	₳ 70.500</p>
                     <p class="discount">10% off</p>
                     <h4 class="description">Echeveria: Rudolf</h4>
                  </div>
               </article>
               <article>
                  <img src="images/echeveria-riga.jpg"  class="product_img">
                  <div class="main-article">
                     
                     <p class="price">	₳ 23.200</p>
                     <p class="discount">10% off</p>
                     <h4 class="description">Echeveria: Riga</h4>
                  </div>
               </article>
               <article>
                  <img src="images/graptoveria-wind-of-changes.jpg"  class="product_img">
                  <div class="main-article">
                     
                     <p class="price">	₳ 60.000</p>
                     <p class="discount">10% off</p>
                     <h4 class="description">Graptoveria: Wind of Changes</h4>
                  </div>
               </article>
               <article>
                  <img src="images/echeveria-pink-frills.jpg"  class="product_img">
                  <div class="main-article">
                     
                     <p class="price">	₳ 12</p>
                     <p class="discount">10% off</p>
                     <h4 class="description">Echeveria: Pink Frills</h4>
                  </div>
               </article>
               <article>
                  <img src="images/echeveria-kirov.jpg"  class="product_img">
                  <div class="main-article">
                     
                     <p class="price">	₳ 38.299</p>
                     <p class="discount">10% off</p>
                     <h4 class="description">Echeveria: Mirov</h4>
                  </div>
               </article>
               <article>
                  <img src="images/echeveria-madiba.jpg"  class="product_img">
                  <div class="main-article">
                     
                     <p class="price">	₳ 13.200</p>
                     <p class="discount">10% off</p>
                     <h4 class="description">Echeveria: Madiba</h4>
                  </div>
               </article>
            </div>
         </section>
      </main>
         
         <hr>
         
         <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-col">
                        <h4>Navegacion</h4>
                        <ul>
                            <li><a href="#">Inicio</a></li>
                            <li><a href="#">Productos</a></li>
                            <li><a href="#">Contacto</a></li>
                            <li><a href="#">Preguntas frecuentes</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Contactanos</h4>
                        <ul>
                            <li><a href="#">Contacto@mundosuculento.com</a></li>
    
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Seguinos</h4>
                        <div class="social-links">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 copyright">
                <p class="text-center-xs">
                    Copyright MundoSuculento - 2022. Todos los derechos reservados.
                </p>
            </div>
        </footer>

</body>

</html>