<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Mundo Suculento</title>
    <link rel="icon" href="design/isoto.ico">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/index.css">

</head>
    
<body class="boddy">
    
    
    <header>
        <h1 class="h1">Mundo Suculento</h1>
        <input class="input"  type="text" placeholder="busca producto o no">
        <link src="images/Artboard 4.png">
        <nav>
            <ul>
                <li><a href="view/register.html">Register</a></li>
                <li><a href="view/login.html">Login</a></li>
            </ul>
        </nav>
        <div class="user">
            <i class="fa-regular fa-circle-user"></i>
        </div>

        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>


    <img src="images/5824874.jpg" alt="Banner">

   <ur>    
            <div>
              <image src="images/suculenta.jpg" class="category">Planta1</image>
            </div>
            
            <div>
              <image src="images/suculenta.jpg" class="category">Planta2</image>
            </div>
   </ur>
   <hr>

   <article>
       <img src="images/suculenta.jpg" class="articul">
   </article>
   <article>
    <img src="images/suculenta.jpg" class="articul">
</article>
</body>

<footer class="footer">
    <div class="atencion-cliente">
        <span class="spam">Atención al cliente: </span>
        <p>0800NOROMPASLASBOLAS</p>
        <p>LU-VI de 09:00 a 18:00</p>
        <p>SA de 9:00 a 13:00</p>
    </div> 
    <div class="ventas-telefonicas">
        <span class="spam">Ventas telefónicas: </span>
        <p>0800-555-0125</p>
        <p>LU-VI de 8:00 a 20:00</p>
        <p>SA-DO-Feriados 9:00 a 21:00</p>
    </div>

</footer>
</html>