<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mundo Suculento</title>
    <link rel="icon" href="design/isoto.ico">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/index.css">

</head>
    
<body class="boddy">
    
    
    <header>
        <h1 class="h1">Mundo Suculento</h1>
        <input class="input"  type="text" placeholder="busca producto o no">
        <link src="images/Artboard 4.png">
    </header>

    <nav>
        <ul>
            <li><a href="view/register.html">Register</a></li>
            <li><a href="view/login.html">Login</a></li>
        </ul>
    </nav>

    <img src="images/5824874.jpg" alt="Banner">

   <ur>
    
            <div>
              <image src="images/suculenta.jpg" class="category">Planta1</image>
            </div>

    
            <div>
              <image src="images/suculenta.jpg" class="category">Planta2</image>
            </div>
   </ur>
   <hr>

   <article>
       <img src="images/suculenta.jpg" class="articul">
   </article>
   <article>
    <img src="images/suculenta.jpg" class="articul">
</article>
</body>

<footer class="footer">
    <div class="atencion-cliente">
        <span class="spam">Atención al cliente: </span>
        <a>0800NOROMPASLASBOLAS</a>
    </div> 
    <div class="atencion-cliente">
        <span class="spam">Ventas telefónicas: </span>
        <a>0800-555-0125</a>
    </div>

</footer>
</html>