<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/login.css" type="text/css">
    <title>Login</title>
</head>

<body>
  <header class="header">
    <%- include ("./partials/headder")%>
  </header>
    <main>
        <div class="formulario">
            <form action="#" method="POST">
                <h3>L o g i n</h3>
                <p class="usuario">
                    <label for="usuario">Usuario: </label>
                    <input type="text" name="usuario" required>
                </p>
                <p class="contraseña">
                    <label for="contraseña">Contraseña: </label>
                    <input type="password" name="contraseña" required>
                </p>
                <p>
                <h5>¿No tienes cuenta? <a href="registro"> Crea una aquí.</a></h5>
                </p>

                <button type="submit">LOGIN</button>
            </form>
            <div class="registrado">
                <input type="checkbox" name="matenerRegistrado" value="Mantenerme Resitrado">
                <p>Mantenerme Registrado</p>
            </div>
        </div>
    </main>
    <footer class="footer">
      <%- include ("./partials/footer")%>
    </footer>
</body>

</html>