<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css" type="text/css">
    <title>Login</title>
</head>
<body>
    <header>
        <img src="img/Logo1.png">
    </header>    
        <div class="formulario">
    <form action="#" method="POST">
        <h3>L o g i n</h3>
        <p class="usuario">
            <label for="usuario">Usuario: </label>
            <input type="text" name="usuario" required>
        </p>
        <p class="contraseña">
        <label for="contraseña">Contraseña: </label>
        <input type="password" name="contraseña" required>
        </p>
        <p><h6>¿No tienes cuenta?   <a href="registro">   Crea una aquí</a></h6></p>
        
        <button type="submit">LOGIN</button>
    </form>
    <div class="registrado">
        <input type="checkbox" name="matenerRegistrado" value="Mantenerme Resitrado">
        <p>Mantenerme Registrado</p>
    </div>
</div>
<footer>
    
</footer>
</body>
</html>