<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/login.css" type="text/css">
    <title>Login</title>
</head>

<body>
    <header class="header">
        <%- include ("./partials/headder")%>
    </header>
    <main>
        <div class="formulario">
            <form action="#" method="POST">
                <p class="correo">Correo electrónico</p>
                <label>
                    <input type="text" name="email" required>
                    <% if (locals.errors && errors.email) { %>
                        <div class="text-danger">
                            <%= errors.email.msg %>
                        </div>
                    <% } %>
                </label>

                <p class="contraseña">Contraseña</p>
                <label for="password">
                    <input type="password" name="password" required>
                </label>


                <button class="boton-logear" type="submit"><a>Iniciar sesion</a></button>
                <div class="registrarseLogin">
                    <h5>¿No tienes cuenta? <a href="registro"> Crea una aquí.</a></h5>
                    </div>
            </form>
            <div class="mantenerSesion">
                <input type="checkbox" name="mantenerSesion" value="">
                <p>Mantener la sesión</p>
            </div>
        </div>
    </main>
    <footer class="footer">
        <%- include ("./partials/footer")%>
    </footer>
</body>

</html>