<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/login.css" type="text/css">
    <title>Login</title>
</head>

<body>
    <header>
        <div class="main-navbar ">
            <div class="header-top">
               <img class="logo" src="images/Artboard 4.png">
            </div>
            <div class="searchform">
                <input type="search" id="searchterm" placeholder="Sucubusqueda..." class="searchbar">
             </div>
            <nav class="header-bot">
               <div class="header-bot-left">
                  <ul class="listas">
                     <li><a href="/">Inicio</a></li>
                     <li><a href="/producto">Productos</a></li>
                     <li><a href="">Ayuda</a></li>
                  </ul>
               </div>
               <div class="header-bot-right">
                  <ul class="listas">
                     <li><a href="/registro">Crear cuenta</a></li>
                     <li><a href="/login">Iniciar sesion</a></li>
                  </ul>
               </div>  
            </nav>
          </div>
    </header>
    <main>
        <div class="formulario">
            <form action="#" method="POST">
                <h3>L o g i n</h3>
                <p class="usuario">
                    <label for="usuario">Usuario: </label>
                    <input type="text" name="usuario" required>
                </p>
                <p class="contraseña">
                    <label for="contraseña">Contraseña: </label>
                    <input type="password" name="contraseña" required>
                </p>
                <p>
                <h5>¿No tienes cuenta? <a href="registro"> Crea una aquí.</a></h5>
                </p>

                <button type="submit">LOGIN</button>
            </form>
            <div class="registrado">
                <input type="checkbox" name="matenerRegistrado" value="Mantenerme Resitrado">
                <p>Mantenerme Registrado</p>
            </div>
        </div>
    </main>
    <footer>
        <div class="main-footer">
        <section class="footer-main">
            <div class="atencion-cliente">
                <i class="fa-solid fa-headset icon"></i>
                <h2>Atención al cliente: </h2>
                <p>0800-555-0125</p>
                <p>Lunes a Viernes de 09:00 a 18:00</p>
                <p>Sabados de 9:00 a 13:00</p>
            </div>
            <div class="ventas-telefonicas">
                <i class="fa-solid fa-phone icon"></i>
                <h2>Ventas telefónicas: </h2>
                <p>0800-555-0125</p>
                <p>Lunes a Viernes de 8:00 a 20:00</p>
                <p>Sabado-Domingo-Feriados 9:00 a 21:00</p>
            </div>
        </section>
     </div>
     </footer>
</body>

</html>