<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" <script
        src="https://kit.fontawesome.com/4bc2c34221.js" crossorigin="anonymous">
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/productCart.css">
    <title>Carrito de compras</title>
</head>

<body>
    <header>
        <div class="main-navbar ">
            <div class="header-top">
                <img class="logo" src="images/Artboard 4.png">
            </div>
            <div class="searchform">
                <input type="search" id="searchterm" placeholder="Sucubusqueda..." class="searchbar">
            </div>
            <nav class="header-bot">
                <div class="header-bot-left">
                    <ul class="listas">
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/producto">Productos</a></li>
                        <li><a href="">Ayuda</a></li>
                    </ul>
                </div>
                <div class="header-bot-right">
                    <ul class="listas">
                        <li><a href="/registro">Crear cuenta</a></li>
                        <li><a href="/login">Iniciar sesion</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <h3>Items en tu pedido</h3>

        <div class="section-product">
            <div class="section-product-desktop">
                <div class="compra-container">
                    <div class="box-image">
                        <img src="/images/foto-prueba.jpeg" alt="planta" class="img-responsive">
                    </div>
                    <div class="details">

                        <div class="description">
                            <p> Echeveria mandala</p>
                            <a href="#"></a> <!-- aca va link de producto-->
                        </div>
                        <div>
                            <p> $4500</p>
                        </div>

                        <div class="quantity">
                            <span class="cantidad">Cantidad:</span>
                            <br>
                            <select class="form-select" aria-label="Default select example">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="3">4</option>
                                <option value="3">5</option>
                            </select>
                        </div>

                        <a href="#" class="delete-item">
                            <i class="fa-solid fa-trash-can"></i>
                        </a>
                    </div>
                    <br>
                    <br>

                </div>
                <div class="resume-row">
                    <div class="resume-container">
                        <div class="resume">
                            <h3>Resumen</h3>
                            <table class="table cart-resume">
                                <tbody>
                                    <tr>
                                        <td>Subtotal:</td>
                                        <td class="text-right">$4500</td>
                                    </tr>
                                    <tr>
                                        <td>Costo de envío:</td>
                                        <td class="text-right">
                                            <span class="send-green"> !Envio gratis!</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Total:</td>
                                        <td class="text-right">
                                            <span>
                                                $4500
                                            </span>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                            <a href="#" class="bottom-pay">
                                <button class="pay">proceder con el pago</button>
                            </a>
                        </div>
                    </div>
                    <div id="payment-coupon">
                        <p class="small">Ingresá el código promocional (cupón):</p>
                        <form action="#" id="activateCouponForm" class="form" method="post">
                            <div class="text-center">
                                <div class="required">
                                    <div class="input-group"><input name="data[Coupon][code]" class="form-control"
                                            placeholder="Código de cupón" maxlength="36" type="text" id="CouponCode"
                                            required="required" />
                                        <span class="input-group-btn"><button type="submit" role="submit"
                                                class="btn btn-default">Aplicar</button></span>
                                    </div>
                                </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <P>
            <a href="" class="bottom-home">
                <i class="fa-solid fa-house"></i>
                Seguir comprando
            </a>
        </P>
        <section>
            <div class="section-footer-suscribe">
                <div class="container-sub">
                    <h4>REGISTRATE EN EL NEWSLETTER</h4>
                    <p> Entérate antes que nadie de los nuevos lanzamientos, plantas exlusivas y promociones especiales
                        que
                        tenemos para vos.</p>
                </div>
                <form action="#" class="form">
                    <div class="newsletter-form">
                        <div class="input-group-sub">
                            <input type="email" name="" id="Newsletteremail" placeholder="Ingresá tu email"
                                class="form-control" required="required">
                            <span class="input-group-btn">
                                <input type="submit" class="btn-default" value="Enviar" id="submitNewsletter">
                            </span>
                        </div>
                    </div>
                </form>

            </div>
        </section>

    </main>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Navegacion</h4>
                    <ul>
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Productos</a></li>
                        <li><a href="#">Contacto</a></li>
                        <li><a href="#">Preguntas frecuentes</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Contactanos</h4>
                    <ul>
                        <li><a href="#">Contacto@mundosuculento.com</a></li>

                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Seguinos</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 copyright">
            <p class="text-center-xs">
                Copyright MundoSuculento - 2022. Todos los derechos reservados.
            </p>
        </div>
    </footer>





</body>

</html>