<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Roboto:wght@300&family=Shizuru&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet"  href="css/productDetail.css">

    <title>Mundo Suculento</title>
</head>
<body>
    <header class="main-header">
        <div class="searchbar">
            <div class="main-header-topBar">
                <img src="images/img-cafetera-moulinex.jpg" alt="" class="logo">
                <input type="search" name="barrabusqueda" placeholder="Buscar producto, marca..." class="barra">
            </div> 
            <div class="logbar"> 
                <ul>
                    <li class="login"><a href="#">Ingresar</a></li>
                    <li class="basket"><a href="#">Carrito</a></li>
                    <li class="register"><a href="#">Registrate</a></li>
                </ul>
            </div> 
    </header>

    <main>
        <!-- <div class="slider">
            <img src="images/img-cafetera-moulinex.jpg" alt="">
        </div>-->
        <div class="main-nombre-producto">
            <h2>Nombre de producto</h1>
        </div>

        <div class="wrapper">
            <div class="slider" id="slider">
              <ul class="slides">
                <li class="slide" id="slide1">
                  <a href="#">
                    <img src="images/img-cafetera-moulinex.jpg" alt="photo 1">
                  </a>
                </li>
                <li class="slide" id="slide2">
                  <a href="#">
                    <img src="images/img-macbook-pro-2019.jpg" alt="photo 2">
                  </a>
                </li>
                <li class="slide" id="slide3">
                  <a href="#">
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="photo 3">
                  </a>
                </li>
                <li class="slide" id="slide4">
                  <a href="#">
                    <img src="images/img-tv-samsung-smart.jpg" alt="photo 4">
                  </a>
                </li>
                <li class="slide">
                  <a href="#">
                    <img src="images/img-cafetera-moulinex.jpg" alt="photo 1">
                  </a>
                </li>
              </ul>
              <ul class="slider-controler">
                <li><a href="#slide1">&bullet;</a></li>
                <li><a href="#slide2">&bullet;</a></li>
                <li><a href="#slide3">&bullet;</a></li>
                <li><a href="#slide4">&bullet;</a></li>
                <li><a href="#slide5">&bullet;</a></li>
              </ul>
            </div>
          </div>

        <div class="iWantIt">
        <button class="loQuiero">LO QUIERO</button>
        </div>
        <div class="completeDetail">
        <div class="price-paid"> 
            <h2 class="price">$$$$$$$</h2>
            <a href="#"><h4 class="paid">Ver medios de pago disponibles</h4></a>
        </div>

        
            <h2 class="product-name">Nombre de producto</h2>
            <h4 class="product-name">Características del producto</h2>
            <p class="product-detail" > Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore nesciunt facilis eos animi dolorum accusantium perspiciatis, ullam minima rerum. Rerum ipsum enim eos vero saepe minima alias, nam at corporis!
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex accusantium cum maiores laboriosam odit labore nemo illo aspernatur, impedit, natus voluptate iusto accusamus voluptates obcaecati aut ut nulla! Sunt, architecto.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex accusantium cum maiores laboriosam odit labore nemo illo aspernatur, impedit, natus voluptate iusto accusamus voluptates obcaecati aut ut nulla! Sunt, architecto.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex accusantium cum maiores laboriosam odit labore nemo illo aspernatur, impedit, natus voluptate iusto accusamus voluptates obcaecati aut ut nulla! Sunt, architecto.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex accusantium cum maiores laboriosam odit labore nemo illo aspernatur, impedit, natus voluptate iusto accusamus voluptates obcaecati aut ut nulla! Sunt, architecto.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex accusantium cum maiores laboriosam odit labore nemo illo aspernatur, impedit, natus voluptate iusto accusamus voluptates obcaecati aut ut nulla! Sunt, architecto.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex accusantium cum maiores laboriosam odit labore nemo illo aspernatur, impedit, natus voluptate iusto accusamus voluptates obcaecati aut ut nulla! Sunt, architecto.

            </p>
        </div>

        <div class="ofertas">
            <div>
                <h2 class="titulo-ofertas">Te puede interesar</h2>
            </div>
            <div  class="offers">
            <a href=""><img src="images/img-cafetera-moulinex.jpg" alt=""></a>
            <a href=""><img src="images/img-cafetera-moulinex.jpg" alt=""></a>
            <a href=""><img src="images/img-cafetera-moulinex.jpg" alt=""></a>
            <a href=""><img src="images/img-cafetera-moulinex.jpg" alt=""></a>
            </div>
        </div>
    </main>

    <footer>

    </footer>

</body>
</html>