<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="stylesheet" href="css/productDetail.css">
    <title>Mundo Suculento</title>
    <%- include ("./partials/head")%>
</head>

<body>
  <header class="header">
    <%- include ("./partials/headder")%>
  </header>

  <main>
    <!-- <div class="slider">
            <img src="images/img-cafetera-moulinex.jpg" alt="">
        </div>-->
    <div class="main-nombre-producto">
      <h2>Echeveria Corymbosa</h2>
    </div>

    <div class="wrapper">
      <div class="slider" id="slider">
        <ul class="slides">
          <li class="slide" id="slide1">
            <a href="#">
              <img src="images/echeveria-corymbosa.jpg" alt="photo 1">
            </a>
          </li>
          <li class="slide" id="slide2">
            <a href="#">
              <img src="images/echeveria-corymbosa.jpg" alt="photo 2">
            </a>
          </li>
          <li class="slide" id="slide3">
            <a href="#">
              <img src="images/echeveria-corymbosa.jpg" alt="photo 3">
            </a>
          </li>
          <li class="slide" id="slide4">
            <a href="#">
              <img src="images/echeveria-corymbosa.jpg" alt="photo 4">
            </a>
          </li>
          <li class="slide">
            <a href="#">
              <img src="images/echeveria-corymbosa.jpg" alt="photo 1">
            </a>
          </li>
        </ul>
        <ul class="slider-controler">
          <li><a href="#slide1">&bullet;</a></li>
          <li><a href="#slide2">&bullet;</a></li>
          <li><a href="#slide3">&bullet;</a></li>
          <li><a href="#slide4">&bullet;</a></li>
          <li><a href="#slide5">&bullet;</a></li>
        </ul>
      </div>
    </div>

    <div class="iWantIt">
      <button class="loQuiero">LO QUIERO</button>
    </div>
    <div class="completeDetail">
      <div class="price-paid">
        <h2 class="price">$$$$$$$</h2>
        <a href="#">
          <h4 class="paid">Ver medios de pago disponibles</h4>
        </a>
      </div>


      <h2 class="product-name">Echeveria Corymbosa</h2>
      <h4 class="product-name">Características del producto</h2>
        <p class="product-detail"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore nesciunt facilis
          eos animi dolorum accusantium perspiciatis, ullam minima rerum. Rerum ipsum enim eos vero saepe minima alias,
          nam at corporis!
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex accusantium cum maiores laboriosam odit labore
          nemo illo aspernatur, impedit, natus voluptate iusto accusamus voluptates obcaecati aut ut nulla! Sunt,
          architecto.
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex accusantium cum maiores laboriosam odit labore
          nemo illo aspernatur, impedit, natus voluptate iusto accusamus voluptates obcaecati aut ut nulla! Sunt,
          architecto.
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex accusantium cum maiores laboriosam odit labore
          nemo illo aspernatur, impedit, natus voluptate iusto accusamus voluptates obcaecati aut ut nulla! Sunt,
          architecto.
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex accusantium cum maiores laboriosam odit labore
          nemo illo aspernatur, impedit, natus voluptate iusto accusamus voluptates obcaecati aut ut nulla! Sunt,
          architecto.
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex accusantium cum maiores laboriosam odit labore
          nemo illo aspernatur, impedit, natus voluptate iusto accusamus voluptates obcaecati aut ut nulla! Sunt,
          architecto.
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex accusantium cum maiores laboriosam odit labore
          nemo illo aspernatur, impedit, natus voluptate iusto accusamus voluptates obcaecati aut ut nulla! Sunt,
          architecto.

        </p>
    </div>

    <div class="ofertas">
      <div>
        <h2 class="titulo-ofertas">Te puede interesar</h2>
      </div>
      <div class="offers">
        <a href=""><img src="images/echeveria-derecina.jpg" alt=""></a>
        <a href=""><img src="images/echeveria-rudolf.jpg" alt=""></a>
        <a href=""><img src="images/echeveria-red-edge.jpg" alt=""></a>
        <a href=""><img src="images/echeveria-mexican-giant.jpg" alt=""></a>
      </div>
    </div>
  </main>

  <footer class="footer">
    <%- include ("./partials/footer")%>
</footer>

</body>

</html>