<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" <script
        src="https://kit.fontawesome.com/4bc2c34221.js" crossorigin="anonymous">
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/productCart.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/general.css">
    <title>Carrito de compras</title>
</head>

<body>
    <header>
        <nav class="header-top">
            <img class="logo" src="images/Artboard 4.png">
            <div class="field buscar" id="searchform">
                <input type="text" id="searchterm" placeholder="¿Qué buscas?" />
                <button type="button" id="search"><i class="fa-solid fa-magnifying-glass boton-search"></i></button></i>
            </div>
            <i class="fa-solid fa-bars" id="burger"></i>
        </nav>
        <nav class="header-bot">
            <div class="header-bot-left">
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="">Productos</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
            </div>
            <div class="header-bot-right">
                <ul>
                    <li><a href="/registro">Crear cuenta</a></li>
                    <li><a href="/login">Iniciar sesion</a></li>
                    <a href="#"><i class="fa-solid fa-truck" id="carrito"></i></a>
                    <i class="fa-solid fa-bell" id="notificaciones"></i>
                </ul>

            </div>

        </nav>
    </header>
    <main>
        <h3>Items en tu pedido</h3>

        <div class="section-product">
            <div class="compra-container">
                <div class="box-image">
                    <img src="/images/foto-prueba.jpeg" alt="planta" class="img-responsive">
                </div>
                <div class="details">

                    <div class="description">
                        <p> Echeveria mandala</p>
                        <a href="#"></a> <!-- aca va link de producto-->
                    </div>
                    <div>
                        <p> $4500</p>
                    </div>

                    <div class="quantity">
                        <span>Cantidad:</span>
                        <br>
                        <select class="form-select" aria-label="Default select example">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="3">4</option>
                            <option value="3">5</option>
                        </select>
                        <i class="fa-solid fa-trash-can-xmark"></i>
                        <!--Aca va en incono de basura-->
                    </div>



                </div>
            </div>
            <div class="resume-container">
                <div class="resume">
                    <h3>Resumen</h3>
                    <table class="table cart-resume">
                        <tbody>
                            <tr>
                                <td>Subtotal:</td>
                                <td class="text-right">$4500</td>
                            </tr>
                            <tr>
                                <td>Costo de envío:</td>
                                <td class="text-right">
                                    <span class="send-green"> !Envio gratis!</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Total:</td>
                                <td class="text-right">
                                    <span>
                                        $4500
                                    </span>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                    <a href="#" class="bottom-pay">
                        <button class="pay">proceder con el pago</button>
                    </a>
                </div>
            </div>
            <form action="/" method="post" class="box">
                <div class="container-1">
                    <input type="text" id="discount" placeholder="Aplicar un codigo de promocion(cupón)">
                    <span class="plus-button"><i class="fa-solid fa-plus"></i></span>
                </div>
            </form>

            <P>
                <a href="" class="bottom-home">
                    <i class="fa-solid fa-house"></i>
                    Seguir comprando
                </a>
            </P>

            <hr>
    </main>
    <footer>
        <section class="footer-main">
           <div class="atencion-cliente">
              <i class="fa-solid fa-headset icon"></i>
              <h2>Atención al cliente: </h2>
              <p>0800-555-0125</p>
              <p>Lunes a Viernes de 09:00 a 18:00</p>
              <p>Sabados de 9:00 a 13:00</p>
           </div>
           <div class="ventas-telefonicas">
              <i class="fa-solid fa-phone icon"></i>
              <h2>Ventas telefónicas: </h2>
              <p>0800-555-0125</p>
              <p>Lunes a Viernes de 8:00 a 20:00</p>
              <p>Sabado-Domingo-Feriados 9:00 a 21:00</p>
           </div>
        </section>
  
     </footer>



</body>

</html>