<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/register-confirmacion.css">
    <title>Confirma tu e-mail</title>
</head>

<body>
    <section class="contenedor">
        <h2>Confirme su correo electrónico</h2>
        <p>¡Bienvenido!, para utilizar su cuenta en Mundo Suculento, primero debe confirmar su correo. Para ello, se ha enviado un código de verificación a -. <a href="#">Actualizar correo electrónico</a></p>
        <div class="verificacion">
            <label class="verificacionXD" for="codigo">Por favor, revise su correo electrónico para encontrar el código de verificación.
                <input type="text" name="codigo" max-length=6 placeholder="Ingrese su código aquí" required>
            </label>
            <a href="#">Reenviar código de verificación</a>
            <button type="submit">Confirmar e-mail</button>
        </div>
        <div class="dudas">
            <ul>
                <h4>¿No recibiste un correo electrónico?</h4>
                <li>Verifique que ingresó el correo electrónico correctamente.</li>
                <li>Revise su carpeta de correo no deseado.</li>
                <li>Busque un correo electrónico con el asunto "Confirme su correo electronico en Mundo Suculento".</li>
                <li>Contacte con el <a href="#">Soporte</a>.</li>
            </ul>
        </div>
    </section>
</body>

</html>