<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
   <script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
   <link rel="stylesheet" href="css/normalize.css">
   <link rel="stylesheet" href="css/general.css">
   <link rel="stylesheet" href="css/register.css">
   <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto&display=swap" rel="stylesheet">

   <title>Crea tu cuenta</title>
</head>

<body class="boddy">
   <header>
      <div class="main-navbar ">
         <div class="header-top">
            <img class="logo" src="images/Artboard 4.png">
         </div>
         <div class="searchform">
            <input type="search" id="searchterm" placeholder="Sucubusqueda..." class="searchbar">
         </div>
         <nav class="header-bot">
            <div class="header-bot-left">
               <ul class="listas">
                  <li><a href="/">Inicio</a></li>
                  <li><a href="/producto">Productos</a></li>
                  <li><a href="">Ayuda</a></li>
               </ul>
            </div>
            <div class="header-bot-right">
               <ul class="listas">
                  <li><a href="/registro">Crear cuenta</a></li>
                  <li><a href="/login">Iniciar sesion</a></li>
               </ul>
            </div>
         </nav>
      </div>
   </header>

   <main class="caja-registro">
      <form action="" method="">
         <p class="texto-crear">
         <h1>Crear cuenta nueva</h1><br>
         <div class="namef">
            <label for="nombre">
               <p>Nombre/s</p>
               <input type="text" name="nombre" required>
            </label>
            <label for="apellido">
               <p>Apellido/s</p>
               <input type="text" name="apellido" required>
            </label>
         </div>
         <div class="datosf">
            <label for="email">
               <p>Correo electrónico</p>
               <input type="email" name="email" required>
            </label>
            <label for="telefono">
               <p>Teléfono (opcional)</p>
               <input type="tel" name="telefono">
            </label>
            <label for="genero">
               <p>Género</p>
               <select>
                  <option></option>
                  <option>Masculino</option><br>
                  <option>Femenino</option><br>
            </label>
            </select><br>
            <label for="cumpleaños">
               <p>Fecha de nacimiento</p>
               <input type="date" name="cumpleaños" placeholder="XD">
            </label>
            <label for="paises">
               <p>País</p>
               <select>
                  <option></option>
                  <option value="">Argentina</option>
                  <option value="">Chile</option>
                  <option value="">Bolivia</option>
                  <option value="">Uruguay</option>
                  <option value="">Paraguay</option>
               </select>
            </label><br>
            <label for="ciudad">
               <p>Ciudad</p>
               <input type="text" name="ciudad" required>
            </label>
         </div>
      </form>
      <br>
      <label class="terminosycondiciones" for="terminos">Acepto los<a href="/"> terminos y condiciones</a>
         <input type="checkbox" name="terminos" required>
      </label>
      <div class="XD">
         <br>
         <button class="boton-crear">Registrarse</button>
         <div>
            <br>
            <p>¿Ya tienes una cuenta?</p>
            <a href="/login">Inicia sesión</a>
         </div>
         <div><br>
            <button class="google">
               <p><i class="fa-brands fa-google"></i>Registrarse con Google</p>
            </button>
            <button class="facebook">
               <p><i class="fa-brands fa-facebook-f"></i>Registrarse con Facebook</p>
            </button>
         </div>
      </div>
   </main>

   <footer>
      <div class="main-footer">
         <section class="footer-main">
            <div class="atencion-cliente">
               <i class="fa-solid fa-headset icon"></i>
               <h2>Atención al cliente: </h2>
               <p>0800-555-0125</p>
               <p>Lunes a Viernes de 09:00 a 18:00</p>
               <p>Sabados de 9:00 a 13:00</p>
            </div>
            <div class="ventas-telefonicas">
               <i class="fa-solid fa-phone icon"></i>
               <h2>Ventas telefónicas: </h2>
               <p>0800-555-0125</p>
               <p>Lunes a Viernes de 8:00 a 20:00</p>
               <p>Sabado-Domingo-Feriados 9:00 a 21:00</p>
            </div>
         </section>
      </div>
   </footer>

</body>

</html>