<!DOCTYPE html>
<html lang="en">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Navegacion</h4>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Preguntas frecuentes</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Contactanos</h4>
                <ul>
                    <li><a href="#">Contacto@mundosuculento.com</a></li>

                </ul>
            </div>
            <div class="footer-col">
                <h4>Seguinos</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9 copyright">
        <p class="text-center-xs">
            Copyright MundoSuculento - 2022. Todos los derechos reservados.
        </p>
    </div>
</html>