<!DOCTYPE html>
<html lang="en">
        <nav class="nav">
          <img src="images/Artboard 4.png" class="logo">
          <button class="nav-toggle" aria-label="Abrir menú">
            <i class="fas fa-bars"></i>
          </button>
          <ul class="nav-menu">
            <li class="nav-menu-item">
              <a href="/" class="nav-menu-link nav-link">Home</a>
            </li>
            <li class="nav-menu-item">
              <a href="/producto" class="nav-menu-link nav-link">Producto</a>
            </li>
            <li class="nav-menu-item">
              <a href="/registro" class="nav-menu-link nav-link">Crear cuenta</a>
            </li>
            <li class="nav-menu-item">
              <a href="/login" class="nav-menu-link nav-link nav-menu-link_active"
                >Login</a
              >
              <li class="nav-menu-item">
                <a href="/carrito" class="nav-menu-link nav-link">Carrito</a>
              </li>
            </li>
          </ul>
        </nav>
</html>