<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title></title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="wrapper">
    <nav>
      <input type="checkbox" id="show-search">
      <input type="checkbox" id="show-menu">
      <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
      <div class="content">
        <div class="logo"><a href="/">Mundo Suculento</a></div>
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="#">Productos</a></li>
          <li><a href="/register">Crear Cuenta</a></li>
          <li><a href="/login">Iniciar Sesión</a></li>
          <li>
            <a href="#" class="desktop-link">Usuario</a>
            <input type="checkbox" id="show-features">
            <label for="show-features">Usuario</label>
            <ul>
              <li><a href="#">Salir</a></li>
              <li><a href="#">Ayuda</a></li>
            </ul>
          <li>
            <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
          </li>

        </ul>
      </div>


    </nav>
  </div>

</body>

</html>